*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #121a27; 
}

/*-- Global Css--*/
p,a, h1,h2,h3,h4, label{
    color: #121a27;
    font-weight: 400;
}
a, a:hover{
    font-size: 14px;
    color: #121a27;
    text-decoration: none;
}
label{
    margin: 0;
}
h2{
    font-size: 45px;
    font-weight: 600;
}
h3 {
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
}
/*-- Global Css--*/

/*Header-Top-Style*/
body {
    padding-top: 188px;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 10%);
    z-index: 9;
    width: 100%;
}
.header_top_wrap {
    background-color: #1c2534;
}
.header_top_wrap .header_upper{
    height: 40px;
}
.header_top_wrap .header_upper ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.header_top_wrap .header_upper ul li select {
    border: 1px solid #546378;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 17px 2px 5px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   cursor: pointer;
   outline-style: none;   
}
.header_top_wrap .header_upper ul li.select_box {
    position: relative;
}
.header_top_wrap .header_upper ul li.select_box:after {
    content: "\f0dd";
    font: normal normal normal 11px/1 FontAwesome;
    color: #ffffff;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 5px;
}
.header_top_wrap .header_upper ul li.select_box~li.select_box select {
    padding: 2px 8px 2px 5px;
}
.sign_in.log_in a:after,
.shop_by_category a#shop_by_category:after {
    display: none;
}
.search_wrap form.form-inline {
    width: 84%;
}
.search_wrap form.form-inline input {
    height: 50px;
    border-radius: 0;
    border: 1px solid #1c2534;
    font-size: 14px;
    width: calc(100% - 150px);
    outline-style: none;
    box-shadow: none;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}
.search_wrap form.form-inline button.btn {
    height: 50px;
    font-size: 14px;
    width: 140px;
    background-color: #1c2534;
    color: #ffffff;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.shop_by_category a#shop_by_category {
    content: "";
    background-image: url(../images/drop_arrow_two.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 16px;
    padding: .5rem 30px .5rem 13px;
    border: 1px solid transparent;
}
.shop_by_category .dropdown-menu {
    width: 50%;
    border-radius: 0;
}
.sell .dropdown-menu {
    border-radius: 0;
    width: 485px;
}
.shop_by_category .dropdown-menu.show,
.sell .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
}
.shop_by_category .dropdown-menu .dropdown-item ul li a,
.sell .dropdown-menu .dropdown-item ul li a {
    font-weight: 300;
    font-size: 13px;
}
.shop_by_category .dropdown-menu .dropdown-item a,
.sell .dropdown-menu .dropdown-item a {
    font-weight: 500;
}
.shop_by_category a#shop_by_category[aria-expanded="true"],
.sell a#shop_by_category[aria-expanded="true"] {
    border: 1px solid rgba(0,0,0,.15);
}
.shop_by_category .dropdown-menu .dropdown-item:hover,
.sell .dropdown-menu .dropdown-item:hover,
.sign_in.log_in .dropdown-menu a.dropdown-item:hover {
    background-color: transparent;
}
.shop_by_category .dropdown-menu .dropdown-item a:hover,
.sell .dropdown-menu .dropdown-item a:hover {
    text-decoration: underline;
}
.shop_by_category .dropdown-menu .dropdown-item, 
.sell .dropdown-menu .dropdown-item {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.shop_by_category .dropdown-menu .dropdown-item ul {
    margin: 0;
}
.sign_in.log_in .dropdown-menu {
    right: 15px;
    left: inherit !important;
    transform: none !important;
    top: 63px !important;
}
.sign_in.log_in .dropdown-menu a.dropdown-item {
    font-size: 13px;
    font-weight: 600;
}
ul.navbar-nav li.nav-item a#sell:after {
    background-image: url(../images/drop_arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    height: 15px;
    width: 15px;
    background-size: 10px;
    content: "";
    border: none;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 4px;
}
.search_wrap form.form-inline input::-webkit-input-placeholder { /* Edge */
    color: #1d2637;
}
.search_wrap form.form-inline input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1d2637;
}
.search_wrap form.form-inline input::placeholder {
    color: #1d2637;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    font-weight: 500;
    padding: 15px 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
ul.navbar-nav li.nav-item {
    display: flex;
    align-items: center;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover{
    color: #ffc513;
}
ul.navbar-nav li.nav-item.active a.nav-link {
    color: #ffc513;
    position: relative;
}
ul.navbar-nav li.nav-item.active a.nav-link:after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #ffc513;
    position: absolute;
    left: 0;
    bottom: 0;
}
.right_sec {
    width: calc(100% - 170px);
}
.search_wrap {
    border-bottom: 1px solid #cccccc;
    padding: 5px 0 25px;
}
.right_sec nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
ul.navbar-nav li.nav-item.dropdown.sell a#sell:hover:after,
ul.navbar-nav li.nav-item.dropdown.sell.show a#sell:hover:after,
ul.navbar-nav li.nav-item.dropdown.sell.show a#sell:after{
    background-image: url(../images/drop_arrow_hover.png); 
}
ul.navbar-nav li.nav-item.dropdown.sell.show a#sell,
ul.navbar-nav li.nav-item.dropdown .dropdown-menu .dropdown-item a:hover{
    color: #ffc513;
}
/*Banner Style*/

section#banner-carousel{
    position: relative;
}
section#banner-carousel a {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,197,19,0.9);
    opacity: 1;
}
section#banner-carousel a span.carousel-control-prev-icon {
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: 20px;
}
section#banner-carousel a span.carousel-control-next-icon {
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: 20px;
}
section#banner-carousel .banner_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18%;
}
section#banner-carousel .banner_content h2 {
    color: #ffffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;
}
section#banner-carousel .banner_content h2 span {
    color: #ffc513;
}
section#banner-carousel .banner_content p {
    color: #ffffff;
}
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
section#our_clients_gallery .owl-carousel {
    position: relative;
}
section#our_clients_gallery .owl-carousel:before {
    content: "";
    background-image: url(../images/clients_gallery_bg.png);
    width: 300px;
    height: 450px;
    position: absolute;
    left: -200px;
    background-size: contain;
}
/*Who We Are Style*/
section#who_we_are {
    position: relative;
    overflow: hidden;
}
section#who_we_are h6 {
    color: #ffc513;
}
section#who_we_are p {
    color: #727272;
    font-weight: 300;
    font-size: 14px;
}
section#who_we_are .img_wrap {
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}
section#who_we_are .img_wrap img {
    width: 100%;
    position: relative;
    z-index: 2;
}
section#who_we_are ul li {
    display: flex;
    align-items: end;
}
section#who_we_are ul li .left-icon {
    background-color: #efefef;
    min-width: 81px;
    height: 67px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}
section#who_we_are ul li .right_content h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.choose_image_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.choose_image_wrap .left_sec {
    width: 50%;
    height: 100%;
    border-right: 5px solid #ffffff;
    background-image: url(../images/mechanic.jpg);
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.choose_image_wrap .left_sec .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.choose_image_wrap .left_sec .img span:nth-child(1) {
    background-position: -10px;
    transition-delay: 0;
}
.choose_image_wrap .left_sec .img span:nth-child(2) {
    background-position: 33.33333%;
    transition-delay: 0.1s;
}
.choose_image_wrap .left_sec .img span:nth-child(3) {
    background-position: 62.66666%;
    transition-delay: 0.2s;
}
.choose_image_wrap .left_sec .img span:nth-child(4) {
    background-position: 93%;
}
.choose_image_wrap .left_sec:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.choose_image_wrap .left_sec .img span {
    width: 25%;
    height: 100%;
    background-image: url(../images/mechanic.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1.7s;
}
.choose_image_wrap .left_sec:hover .content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}
.choose_image_wrap .left_sec:hover .img > span {
    transform: translateY(-100%);
}
.choose_image_wrap .left_sec .content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*flex-direction: column;*/
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.choose_image_wrap .right_sec {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
section#who_we_are .choose_image_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.choose_image_wrap .right_sec .top {
    border-bottom: 5px solid #ffffff;
}
.choose_image_wrap .left_sec .content h2 {
    color: #ffffff;
    font-size: 28px;
}
section#who_we_are .choose_image_wrap .left_sec .content p {
    color: #ffffff;
    margin: 0;
}

/*Our Services Style*/

section#our_services {
    background-color: #f8f8f8;
    padding: 2% 0 4%;
    overflow: hidden;
}
.service_box {
    background-color: #ffffff;
    border: 1px solid #e9edf2;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
}   
.service_box h4 a {
    font-size: 18px;
    font-weight: 600;
}
.service_box h4 a:hover {
    text-decoration: underline;
}
.service_box p {
    font-size: 14px;
    margin: 0;
}
.service_box .service_img {
    text-align: center;
    padding: 0 0 15px;
}
.service_box a.more img {
    width: 21px;
    height: 21px;
}
.service_box a.more {
    width: 100%;
    text-align: right;
    display: inline-block;
    margin: 0 0 15px;
}
section#our_services h3 {
    line-height: 50px;
}
.advertise {
    position: relative;
}
.advertise:before {
    content: "";
    background-image: url(../images/setting_bg_graphic.png);
    height: 540px;
    width: 320px;
    position: absolute;
    right: -115px;
    bottom: 0;
    background-size: contain;
}

/*Our Clients Gallery Style*/

.clients_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/bg_shadow.png);
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clients_name label {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0 0 10px;
}
.clients_name .user_icon_img {
    padding: 20px 0 0 20px;
}
section#our_clients_gallery .owl-nav {
    position: absolute;
    top: -60px;
    right: 0px;
    display: flex;
    align-items: center;
}
section#our_clients_gallery .owl-nav button {
    background-color: #ffc513;
    margin: 0 0 0 6px;
    display: flex;
    align-items: center;    
}
section#our_clients_gallery .owl-nav button span {
    display: inline-block;
    padding: 3px 5px;
    background-image: url(../images/slider_left.png);
    background-size: 9px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    height: 35px;
    width: 35px;
}
section#our_clients_gallery .owl-nav button.owl-next span {
    background-image: url(../images/slider_right.png);
}
section#our_clients_gallery .owl-dots {
    display: none;
}
section#our_clients_gallery {
    padding: 3% 0 4%;
    overflow: hidden;
}

/*Footer Style*/

footer {
    background-color: #1c2534;
    padding: 3% 0 0;
}
.company_about p {
    color: #b3bac6;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0 0;
}
.copy_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy_right h6 {
    margin: 0;
    color: #b3bac6;
    font-size: 12px;
    font-weight: 400;
}
.copy_right ul {
    display: flex;
    align-items: center;
    margin: 0;
}
.copy_right ul li a {
    color: #b3bac6;
    font-size: 12px;
}
.copy_right ul li {
    margin: 0 0 0 10px;
}
.copy_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #707983;
    padding: 15px 0;
    margin: 40px 0 0;
}
.footer_title h5 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.company_links ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.company_links ul li {
    width: 50%;
    padding: 0 0 10px;
}
.company_links ul li a {
    color: #b3bac6;
    background-image: url(../images/company_links_arrow.png);
    background-size: 5px;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 0 0px 15px;
    display: inline-block;
}
.social_link ul li a {
    background-color: #ffc513;
    padding: 8px 10px;
    margin: 0 8px 0 0;
    display: inline-block;
}
.social_link .right_footer_sec ul.contact_info li span {
    color: #ffc513;
    font-weight: 500;
}
.social_link .right_footer_sec ul.contact_info li a {
    padding: 0;
    background-color: transparent;
    color: #b3bac6;
}
.social_link .right_footer_sec ul.contact_info li {
    color: #b3bac6;
    font-size: 14px;
}
.social_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.social_link .left_footer_sec,
.social_link .right_footer_sec {
    width: 50%;
}
.side_menu_wrap,
.search_small_devices {
    display: none;
}

/*Sign Form*/

body.sign_register_form {
    padding: 0;
}
.form_wrap {
    height: 100Vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/signin_bg.jpg");
    background-size: cover;
    background-position: center;
}
.form_wrap form {
    background-color: #ffffff;
    padding: 30px;
    width: 700px;
}
.form_wrap form .logo {
    text-align: center;
}
.form_wrap form .logo img {
    max-width: 100px;
}
.form_wrap form .form_content h5 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
.form_wrap form label ,
section#form_wraper form .form-group{
    font-size: 14px;
}
.form_wrap form input.form-control ,
section#form_wraper form .form-group input.form-control,
section#form_wraper form .form-group select,
section#form_wraper form .form-group textarea{
    background-color: transparent;
    min-height: 50px;
    padding: 10px 22px;
    color: #111111;
    font-size: 13px;
    outline-style: none;
    box-shadow: none;
    border: 1px solid #1d2637;
    border-radius: 10px
}
.form_wrap form input.form-control.error ,
section#form_wraper form .form-group input.form-control.error,
section#form_wraper form .form-group select.error,
section#form_wraper form .form-group textarea.error{
    border: 1px solid #dc3545;
}
section#form_wraper form .form-group textarea {
    height: 100px;
}
.form_wrap form label i.fa.fa-envelope {
    font-size: 15px;
    margin: 0 5px 7px 0px;
}
.form_wrap form label i.fa.fa-unlock-alt {
    font-size: 20px;
    margin: 0 5px 7px 0px;
    position: relative;
    top: 2px;
}
.form_wrap form input.form-control::-webkit-input-placeholder,
section#form_wraper form .form-group input.form-control::-webkit-input-placeholder { /* Edge */
  color: #b2b2b2;
}
.form_wrap form input.form-control:-ms-input-placeholder,
section#form_wraper form .form-group input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b2b2b2;
}
.form_wrap form input.form-control::placeholder ,
section#form_wraper form .form-group input.form-control::placeholder {
  color: #b2b2b2;
}
.form_wrap form .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_wrap form .btn_wrap button.btn.btn-primary ,
section#form_wraper form button,
.step_form_header .btn_grp a:last-child,
.next_btn a{
    background-color: #ffc513;
    border-color: #ffc513;
    color: #121a27;
    font-weight: 600;
    padding: 7px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0 0; 
    border-radius: 0;   
}
.form_wrap form .dont_have_account {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.form_wrap form .dont_have_account a {
    font-weight: 700;
    margin: 0 0 0 5px;
    text-decoration: underline;
}
.form_wrap form a.back_btn,
.step_form_header .btn_grp a:first-child {
    background-color: #121a27;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    border-radius: 0;
}
.form_wrap form a.back_btn i,
.step_form_header .btn_grp a:first-child i{
    color: #ffffff;
}
.form_wrap form .form_content small {
    display: inline-block;
    line-height: 15px;
    padding: 5px 0 0;
}
.form_wrap form .btn_wrap a {
    text-decoration: underline;
    font-size: 13px;
    font-weight: 500;
}
body.sign_register_form form .form-group label.error,
section#form_wraper form .form-group  label.error {
    color: #dc3545;
    font-size: 12px;
    font-weight: 400;
}
section#form_wraper .sell_form .radio_wrap .form-group.field_error label {
    margin: 0;
    color: #dc3545;
    font-size: 12px;
    font-weight: 400;
}
section#form_wraper .sell_form .radio_wrap .form-group.field_error {
    margin: 0;
}
section#form_wraper form .form-group span.required {
    color: #dc3545;    
}
section#form_wraper form .checkbox_wrap .form-group label.select_all {
    font-weight: 600;   
}
body.sign_register_form form a.back_btn i {
    display: inline-block;
}
.form_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0;
}
.form_footer .social_login ul {
    display: flex;
    margin: 0;
}
.form_footer .social_login ul a img {
    width: 30px;
    margin: 0 0 0 5px;
}
.form_footer .social_login ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}
.form_footer .social_login ul li:first-child {
    margin: 0 5px 0 0;
}
.form-group .form-check {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.form-group .form-check label.form-check-label {
    margin: 0;
    font-size: 13px;
    color: #121a27;
    font-weight: 500;
}
.form_content .form-group input.form-control[type="password"]~span {
    position: absolute;
    top: 66%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}
.form_content .form-group input.form-control[type="password"]~span i {
    font-size: 14px;
    color: #121a27;
    display: block;
}   
.form-group .form-check .custom_check {
    width: 16px;
    height: 16px;
    position: relative;
    border: 1px solid #121a27;
    margin: 0 8px 0 0;
}
.form-group .form-check .custom_check input[type="checkbox"] {
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 0;
    margin: 0 auto;
    cursor: pointer;
    z-index: 1;
}
.form-group .form-check .custom_check span {
    height: 14px;
    width: 14px;
    display: inline-block;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
}
.form-group .form-check .custom_check input[type="checkbox"]:checked~span {
    background-color: #ffc513;
}
.form-group .form-check .custom_check input[type="checkbox"]:checked~span:before{
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid #121a27;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);    
}
/*service page*/

.banner_wrap {
    background-image: url(../images/banner_bg.png);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}
.btn_wrap button {
    background-color: #ffc513;
    border: 1px solid #ffc513;
    border-radius: 2px;
    padding: 15px 33px;
    margin-right: 15px;
    font-size: 17px;
    color: #1c2534;
    font-weight: 600;
}
.btn_wrap button img {
    padding-right: 7px;
}
.slider {
    width: 100%;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
  display: none;
}
.slick-slide {
    margin: 0;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 100;
}  
.slick-active {
  opacity: 100;
}
.slick-current {
  opacity: 100;
}
.banner_wrap .banner_inner .left {
    width: 45%;
}
.banner_wrap .banner_inner .right {
    width: 55%;
}
/*.center.slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
}*/
#banner-carousel .banner_wrap .banner_content.services {
    position: inherit;
    transform: inherit;
    top: 0;
    left: 0;
}
#featured_items {
    padding: 1.5% 0 3%;
}
.featured_content .items button,
.featured_content button {
    background-color: #1c2534;
    border: 1px solid #1c2534;
    color: #ffffff;
    padding: 10px 28px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    outline-style: none;
    box-shadow: none;
}
.featured_content .items button img ,
.featured_content button img {
    padding-left: 7px;
}
.featured_content .service_box {
    padding: 0;
}
.featured_content .service_box .service_img img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}
.featured_content ul.alfa li {
    font-size: 13px;
    padding-right: 12px;
}
.featured_content ul.alfa li img {
    padding-right: 8px;
}
.featured_content .service_box .alfa_content,
#new_arrivals .service_box .alfa_content {
    padding: 0 18px;
}
.featured_content ul.alfa {
    margin: 0 0 20px;
}
.featured_content .price:after,
#new_arrivals .price:after {
    content: "";
    position: absolute;
    width: 105px;
    border-bottom: 40px solid #ffc513;
    border-left: 22px solid transparent;
    right: 0;
    top: 10px;
}
.featured_content .price span,
#new_arrivals .price span{
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 1;
    color: #121a27;
    font-size: 14px;
    font-weight: bold;
}
#browse_type {
    background-color: #f8f8f8;
    padding: 1.5% 0 3%;
}
.featured_content button.browse_btn {
    margin: 0 auto;
}
.tabs_wrap ul li a.nav-link.active {
    background-color: #ffc514;
    border: 1px solid #ffc514;
}
.tabs_wrap ul li a.nav-link {
    color: #121a27;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
}
.schedule_wrap {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.schedule_wrap button {
    background-color: #ffc513;
    color: #ffffff;
    border: none;
    padding: 15px 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    outline-style: none;
    width: 43px;
    z-index: 1;
}
.schedule_wrap button span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -5px;
    text-transform: uppercase;
    color: #121a27;
    font-size: 14px;
    font-weight: bold;
}
.schedule_wrap button i {
    margin: 10px 0 5px;
    font-size: 14px;
}
.slick-slide.slick-current.slick-active.slick-center img {
    transform: scale(1.3);
}
.slick-slide.slick-current.slick-active.slick-center {
    padding: 0;
}
.slick-slide {
    padding: 30px 0px;
}
section#new_arrivals {
    background-color: #ffffff;
    padding: 2.5% 0px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000091;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.service_box .service_img a:hover .overlay {
  height: 100%;
}
.text {
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
select.form-control:not([size]):not([multiple]) {
    height: auto;
    border-radius: 0;
}
.service_box .service_img img {
    height: 250px;
    object-fit: cover;
}
/*Sell Form*/
 
section#form_wraper form .form-group i.fa.fa-tag {
    font-size: 17px;
    position: relative;
    top: 1px;
}
section#form_wraper .sell_form,
.step_form_wrap {
    -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    -ms-box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    padding: 30px;
    margin: 70px auto;
    background-color: #ffffff;
    width: 75%;
    border-radius: 20px;
    border-top: 3px solid #ffc513;    
}
section#form_wraper .sell_form .title h4,
.schedule_tabs .tab-content h4 {
    font-weight: 600;
    font-size: 28px;
    margin: 0 0 20px;
    text-align: center;
    position: relative;
}
section#form_wraper .sell_form .title h4:before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #ffc513;
    position: absolute;
    bottom: -10px;
    display: none;
} 
section#form_wraper form .form-group select {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
}
section#form_wraper .sell_form .custom_check~label {
    font-weight: 400;
} 
section#form_wraper form .form-group i.fa.fa-thumb-tack {
    font-size: 17px;
}
section#form_wraper form .form-group label {
    margin: 0 0 4px;
    font-weight: 600;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: none;
}
section#form_wraper form hr {
    border-color: #797979;
}
section#form_wraper .custom_check input.form-control {
    position: absolute;
    height: 20px;
    width: 20px;
    min-height: auto !important;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
}
section#form_wraper .custom_check {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #121a27;
}
section#form_wraper .custom_check input.form-control:checked~span {
    background-color: #ffc513;
    height: 18.2px;
    width: 18px;
    display: block;
    border: 1px solid #ffc513;
    position: absolute;
}
section#form_wraper .custom_check input.form-control:checked~span:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid #121a27;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);  
}
section#form_wraper form .checkbox_wrap .form-group,
section#form_wraper .radio_wrap .form-group{
    display: flex;
    align-items: center;
}
section#form_wraper form .checkbox_wrap .form-group label,
section#form_wraper .radio_wrap .form-group label,
section#form_wraper form .form-group label.keys_count {
    margin: 0 0 0 5px;
}
section#form_wraper .custom_check.radio {
    border-radius: 100px;
}
section#form_wraper .custom_check.radio input.form-control:checked~span {
    border-radius: 100px;
}
section#form_wraper .custom_check.radio input.form-control:checked~span:before {
    border: none;
    background-color: #121a27;
    height: 9px;
    width: 9px;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 100px;
}
input[type="file"] {
  display: block;
}
.imageThumb {
    border: 1px solid;
    padding: 1px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.pip {
    display: inline-block;
    margin: 0px 0px 0 10px;
    position: relative;
    width: 80px;
    height: 100px;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
video {
  border: 1px solid black;
  display: block;
}
.upload_images button#choose_image {
    background-color: #f6f6f6;
    border: none;
    height: 100px;
    padding: 35px;
    width: 80px;
    outline-style: none;
    box-shadow: none;
    border: 1px solid #1d2637;
    border-radius: 10px;
    margin: 0;
}
#choose_video{
  background-color: #ffffff;
  border: none
}
.image_wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.pip span.remove {
    height: 18px;
    width: 18px;
    background-color: #dc3545;
    border: none;
    font-size: 12px;
    border-radius: 100px;
    position: absolute;
    top: -7px;
    right: -5px;
}
section#form_wraper form button#choose_video {
    background-color: #f6f6f6;
    border: 1px solid #cccccc;
    font-size: 13px;
}
section#form_wraper .sell_form video#video {
    width: 530px;
    margin: 0 0 20px;
}
.or {
    padding: 0 0 15px;
    position: relative;
}
.or label {
    font-size: 14px;
    background-color: #ffffff;
    position: relative;
    padding: 0 5px 0;
    margin: 0 0 0 20px;
}
.or:before {
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 30%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}
section#form_wraper form .form-group label.trim img {
    margin: 0 4px 0 0;
}
section#form_wraper {
    background-color: #ecf0f3;
    background-image: url("../images/form_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section#form_wraper form .form-group label i,
section#form_wraper form .form-group label img {
    display: none;
}
section#form_wraper form .form-group h5,
.individual_services h5,
.need_a_ride h5{
    font-size: 16px;
    margin: 0;
    color: #757171;
    text-transform: capitalize;
}
section#form_wraper .sell_form h6 {
    font-weight: 600;
    margin: 0;
}
section#form_wraper .sell_form .radio_wrap .form-group {
    margin: 0 0 10px;
}
section#form_wraper .sell_form .title {
    display: inline-block;
}
body.sign_register_form form .form-group i {
    display: none;
}
body.sign_register_form form .form-group label {
    font-weight: 500;
    margin: 0 0 3px;
}
section#form_wraper .image_wrapper button.btn.btn-secondary {
    padding: 4px 5px;
    position: absolute;
    bottom: 5px;
    left: 51px;
}
section#form_wraper .image_wrapper button.btn.btn-secondary i.fa.fa-question-circle {
    font-size: 15px;
}
.upload_video_title {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}
section#form_wraper form .upload_video_title label {
    margin: 0 5px 0 0;
}
section#form_wraper form .upload_video_title button {
    margin: 0;
    padding: 3px 5px;
}
section#form_wraper form .upload_video_title button i {
    font-size: 15px;
}

/*Schedule Repair Page*/

section#form_wraper.step_form_main {
    padding: 70px 0;
}
.step_form_wrap {
    margin: 0 auto;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link span {
    display: block;
    margin: 0 auto;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    position: relative;
    z-index: 1;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link span:last-child {
    width: 100%;
    height: auto;
    text-align: center;
    line-height: normal;
	font-weight: 600; 
	color: #757171;   
}
li.nav-item a.nav-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link span:first-child {
    background-color: #dcddde;
    color: #121a27;
    font-weight: 600;
    margin: 0 0 3px;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link.active span:first-child{
    background-color: #ffc513;	
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link.active span:last-child{
    color: #121a27;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link,
.schedule_tabs ul.nav-tabs {
    border: none;
    position: relative;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link:before {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #f2f2f2;
    right: -59%;
    width: 100%;
    top: 35%;
    transform: translateY(-50%);
}
.schedule_tabs ul.nav-tabs li.nav-item:last-child a.nav-link:before{
	display: none;
}
.schedule_tabs ul.nav-tabs li.nav-item a.nav-link {
    width: 190px;
    background-color: transparent;
}
.schedule_tabs .tab-content h4 {
    font-size: 20px;
}
.next_btn {
    display: inline-block;
}
section#form_wraper .individual_services .form-group label {
    font-weight: 400;
}
.need_a_ride .need_box {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 0 20px;
}
.need_a_ride .need_box ul.choose_wrap {
    margin: 0;
    display: flex;
    align-items: center;
}
.need_a_ride .need_box ul.choose_wrap li label {
    border: 1px solid #121a27;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border-radius: 100px;
    font-size: 12px;
    cursor: pointer;
}
.need_a_ride .need_box h6 {
    font-weight: 600;
}
/*Responsive*/

@media only screen and (min-width: 1500px) {
.container {
    max-width: 1400px;
}
.banner_wrap {
    padding: 120px 0;
}
}
@media only screen and (max-width: 1499px) {
.right_sec {
    width: calc(100% - 165px);
}
.right_sec nav.navbar {
    padding: 3px 0 0;
}
.search_wrap form.form-inline {
    width: 81%;
}
.right_sec nav.navbar ul.navbar-nav.ml-auto {
    margin: 0 !important;
}
nav.navbar ul.navbar-nav li.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 15px;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    padding: 15px 14px;
    font-size: 12px;
}
body {
    padding-top: 186px;
}
ul.navbar-nav li.nav-item a#sell:after {
    background-size: 7px;
    right: 2px;
}
.banner_wrap {
    padding: 120px 0;
}
section#banner-carousel .banner_content h2 {
    font-size: 40px;
}
.btn_wrap button {
    padding: 12px 25px;
    font-size: 14px;
}
.featured_content ul.alfa li {
    font-size: 12px;
    padding-right: 3px;
    display: flex;
    align-items: center;
}
/*test*/
.new_arrivals ul.alfa li {
    font-size: 12px;
    padding-right: 3px;
    display: flex;
    align-items: center;
}
/*test*/
.featured_content ul.alfa li img {
    padding-right: 2px;
}
.service_box h4 a {
    font-size: 14px;
}
.choose_image_wrap .left_sec .img span:nth-child(4) {
    background-position: 71%;
}
.choose_image_wrap .left_sec .img span:nth-child(3) {
    background-position: 48.66666%;
}
.choose_image_wrap .left_sec .img span:nth-child(2) {
    background-position: 26.33333%;
}
.choose_image_wrap .left_sec .content h2 {
    font-size: 22px;
}
section#who_we_are .choose_image_wrap .left_sec .content p {
    font-size: 13px;
}
section#form_wraper .sell_form {
    width: 90%;
}
section#form_wraper .sell_form h6 {
    font-size: 14px;
}
section#form_wraper form .checkbox_wrap .form-group label, 
section#form_wraper .sell_form .radio_wrap .form-group label, 
section#form_wraper form .form-group label.keys_count {
    font-size: 13px;
}
section#form_wraper .sell_form .title h4 {
    font-size: 24px;
}
section#our_clients_gallery .owl-carousel:before {
    width: 230px;
    height: 400px;
    left: -150px;
}
}

@media only screen and (max-width: 1199px) {
.side_menu_inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 0 15px;
}
.side_menu_wrap {
    display: block;
}
.side_menu_inner img {
    width: 35px;
    background-color: #ffc513;
    padding: 8px;
}
.sign_in.log_in {
    margin: 0 0 0 15px;
}
.header_bottom_wrap nav.navbar.navbar-expand-lg {
    display: none;
}
.search_wrap {
    border-bottom: none;
}
.sign_in.log_in .dropdown-menu {
    right: 65px;
    top: 70px !important;
}
.side_meun_bar {
    position: fixed;
    right: -550px;
    background-color: #ffffff;
    width: 550px;
    top: 0;
    padding: 10px 20px;
    transition: 0.4s;
    height: 100vh;
    border-left: 1px solid #efefef;
    z-index: 1;
}
body.side_show .side_meun_bar {
    right: 0;
    overflow: auto;
}
body.side_show .side_menu_inner:after {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    right: 0;
    top: 0;
}
body.side_show {
    overflow: hidden;
}
.close_btn {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 2;
}
body.side_show .side_meun_bar ul.navbar-nav {
    margin: 20px 0 0;
}
body.side_show .side_meun_bar ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 0 10px;
}
body.side_show .side_meun_bar ul.navbar-nav li.nav-item.active {
    padding: 0 0 8px;
}
ul.navbar-nav li.nav-item.active a.nav-link:after {
    height: 3px;
}
.side_meun_bar li.nav-item.dropdown.sell .dropdown-menu {
    position: relative !important;
    transform: inherit !important;
    width: 100%;
    margin: 0 0 15px;
}
ul.navbar-nav li.nav-item a#sell:after {
    background-size: 10px;
    transform: translateY(0%);
    top: 10px;
}
section#banner-carousel .banner_content h2 {
    font-size: 35px;
}
section#banner-carousel .banner_content p {
    font-size: 14px;
    margin: 0;
}
section#banner-carousel a {
    height: 55px;
    width: 50px;
}
section#banner-carousel a span.carousel-control-prev-icon,
section#banner-carousel a span.carousel-control-next-icon {
    background-size: 13px;
}
section#who_we_are .left-sec_wrap ul {
    display: flex;
    flex-wrap: wrap;
}
section#who_we_are ul li {
    width: 50%;
}
section#who_we_are .left-sec_wrap p br {
    display: none;
}
h3 {
    font-size: 24px;
}
section#who_we_are ul li .right_content h5 {
    font-size: 16px;
}
section#our_services h3 {
    line-height: 33px;
}
.footer_logo img {
    width: 130px;
    margin: 30px 0 0;
}
.company_about p {
    font-size: 13px;
    line-height: 22px;
}
.company_links ul li a {
    font-size: 13px;
    display: inline-block;
}
.footer_title h5 {
    font-size: 16px;
    margin: 0 0 15px;
}
.social_link ul li a {
    padding: 5px 5px;
    margin: 0 5px 0 0;
}
.social_link .right_footer_sec ul.contact_info li {
    font-size: 13px;
}
section#our_clients_gallery .owl-nav button span {
    background-size: 7px;
    height: 30px;
    width: 30px;
}
section#who_we_are .img_wrap img {
    width: 80%;
    margin: 0 auto;
}
.header_top_wrap .header_upper ul li a,
.header_top_wrap .header_upper ul li select {
    font-size: 11px;
}
}

@media only screen and (max-width: 991px) {
.service_box .service_img img {
    width: 100%;
}
.search_wrap form.form-inline button.btn {
    font-size: 13px;
    width: 100px;
}
.search_wrap form.form-inline input {
    width: calc(100% - 110px);
}
section#our_services {
    padding: 2% 0 5%;
}
section#our_clients_gallery {
    padding: 5% 0 5%;
}
.footer_logo img {
    width: 100px;
    margin: 30px 0 0;
}
.social_link ul li a {
    margin: 0 5px 5px 0;
}
section#banner-carousel .banner_content h2 {
    font-size: 30px;
}
.clients_name label {
    font-size: 14px;
    padding: 20px 0 0 0px;
}
body .clients_name .user_icon_img img {
    width: 80%;
}
}

@media only screen and (max-width: 767px) {
.header_bottom_wrap .left-sec a.navbar-brand img {
    width: 65px;
}
.right_sec {
    width: calc(100% - 70px);
}
.shop_by_category a#shop_by_category {
    font-size: 12px;
}
.search_wrap form.form-inline input {
    width: calc(100% - 83px);
    height: 40px;
    font-size: 12px;
    background-size: 16px;
    padding-left: 30px;
    background-position: 10px center;
}
.search_wrap form.form-inline button.btn {
    font-size: 12px;
    width: 75px;
    height: 40px;
}
.sign_in.log_in img {
    max-width: 27px;
}
.side_menu_inner img {
    width: 27px;
    padding: 6px;
}
.header_bottom_wrap .left-sec a.navbar-brand {
    margin: 0;
}
.side_meun_bar {
    width: 300px;
    right: -300px;
}
body {
    padding-top: 126px;
}
.shop_by_category a#shop_by_category {
    padding: 0.2rem 30px .2rem 13px;
}
section#banner-carousel .banner_content h2 {
    font-size: 18px;
}
section#banner-carousel .banner_content p {
    font-size: 12px;
    margin: 0;
}
section#banner-carousel a {
    height: 40px;
    width: 35px;
}
section#banner-carousel a span.carousel-control-prev-icon, 
section#banner-carousel a span.carousel-control-next-icon {
    background-size: 10px;
}
section#who_we_are ul li {
    width: 100%;
}
section#who_we_are {
    padding: 6% 0;
}
h3 {
    font-size: 22px;
}
section#who_we_are ul li .left-icon {
    min-width: 65px;
    height: 60px;
}
section#our_services h3 br{
    display: none;
}
.service_box .service_img img {
    width: auto;
}
.company_about {
    padding: 0 0 20px;
}
.social_link {
    padding: 15px 0 0;
}
.footer_title h5 {
    font-size: 14px;
}
.footer_logo img {
    width: 120px;
}
.shop_by_category .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 5px 15px 10px;
}
.shop_by_category .dropdown-menu .dropdown-item a, 
.sell .dropdown-menu .dropdown-item a {
    font-size: 13px;
}
.shop_by_category.show {
    position: relative;
}
.sell .dropdown-menu .dropdown-item {
    width: 100%;
}
h3 {
    font-size: 16px;
}
section#who_we_are h6 {
    font-size: 12px;
}
section#who_we_are p {
    font-size: 13px;
}
section#who_we_are ul li .right_content h5 {
    font-size: 14px;
}
section#who_we_are ul li .left-icon {
    min-width: 55px;
    height: 50px;
}
section#who_we_are ul li .left-icon img {
    max-width: 25px;
}
section#our_clients_gallery {
    padding: 7% 0 7%;
}
}

@media only screen and (max-width: 529px) {
.search_wrap form.form-inline {
    display: none;
}
.header_bottom_wrap .left-sec a.navbar-brand img {
    width: 85px;
}
.right_sec {
    width: calc(100% - 90px);
}
body {
    padding-top: 130px;
}
.search_wrap.search_small_devices form.form-inline,
.search_small_devices{
    display: block;
}
.search_wrap.search_small_devices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px;
}
.search_wrap.search_small_devices form.form-inline {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_top_wrap .header_upper ul li img {
    width: 15px;
}
.header_top_wrap .header_upper ul li:first-child a img {
    width: 12px;
}
.header_top_wrap .header_upper ul li a, 
.header_top_wrap .header_upper ul li select {
    font-size: 10px;
}
body {
    padding-top: 195px;
}
section#banner-carousel .carousel-inner .carousel-item img {
    height: 200px;
    object-fit: cover;
}
.shop_by_category .dropdown-menu {
    width: 175px;
    border-radius: 0;
    left: inherit !important;
    right: 0;
}
section#who_we_are .img_wrap img {
    width: 100%;
    margin: 0 auto;
}
section#our_services h3 {
    line-height: normal;
}
.service_box .service_img img {
    width: 100%;
}
.service_box h4 a {
    font-size: 15px;
}
.service_box p {
    font-size: 13px;
    margin: 0;
}
.social_link .left_footer_sec, 
.social_link .right_footer_sec {
    width: 100%;
}
.social_link .right_footer_sec {
    margin: 20px 0 0;
}
.social_link .right_footer_sec h5 {
    margin: 0 0 10px;
}
.copy_right {
    margin: 20px 0 0;
}
.copy_right {
    justify-content: center;
    padding: 10px 0 15px;
    flex-wrap: wrap;
    text-align: center;
}
.copy_right h6 {
    order: 1;
    width: 100%;
}
.copy_right ul li {
    margin: 0 10px 5px 0px;
}
section#our_clients_gallery .owl-nav button span {
    background-size: 6px;
    height: 23px;
    width: 23px;
}
section#our_clients_gallery h3 {
    padding: 0 60px 0 0;
}
section#banner-carousel .banner_content p {
    padding: 0 40px 0 0;
}
}

/*css for date picker*/
.input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
/*css for date picker*/



    